<div>
  <h1 class="title">Cambiar contraseña</h1>
  <div>
    <form class="container__form" [formGroup]="user">
      <div class="row mb-4">
        <div class="col"></div>
        <div class="col">
          <mat-form-field appearance="outline" color="accent" class="input">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput formControlName="newPassword" autocomplete="off" />
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>
      <div class="row mb-4">
        <div class="col"></div>
        <div class="col">
          <button
            type="button"
            (click)="changePassword()"
            mat-raised-button
            [disabled]="this.user.invalid"
          >
            Cambiar Contraseña
          </button>
        </div>
        <div class="col"></div>
      </div>
    </form>
  </div>
</div>
